streamlit==1.49.0
pandas==2.3.2
plotly==6.3.0
numpy==2.3.2
matplotlib==3.10.5
altair==5.5.0

# UI and styling
streamlit-extras==0.7.7
streamlit-toggle-switch==1.0.2
streamlit-card==1.0.2
streamlit-vertical-slider==2.5.5
streamlit-embedcode==0.1.2
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-image-coordinates==0.4.0
streamlit-keyup==0.3.0
streamlit-notify==0.3.1
st-annotated-text==4.0.2
st-theme==1.2.3

# Audio + text generation
gTTS==2.5.4
pydub==0.25.1
textblob==0.19.0
nltk==3.9.1
vaderSentiment==3.3.2

# Utility
requests==2.32.5
beautifulsoup4==4.13.5
markdown==3.8.2
markdownlit==0.0.7
Faker==37.6.0
validators==0.35.0
python-dateutil==2.9.0.post0
tqdm==4.67.1
scikit-learn==1.7.1
joblib==1.5.1
threadpoolctl==3.6.0
